<!DOCTYPE html>
<html lang="nl" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/dist/site.css">
    <script>
        const currentSong = '{{ room.playlist.preview_url }}'
        const roomName = '{{ roomName }}'

        console.log(currentSong)
    </script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer type="module" src="/js/index.js"></script>
</head>
</head>
<body>
    <main>
        {{{body}}}
    </main>
</body>
</html>