<div class="wrapper login-container">
    <h1 class="site-header">Artistry.IO</h1>

    <p>You need to login to spotify to play this game</p>
    <a class="login btn -primary" href="/login">Login to spotify</a>
</div>