<h1>Join a room</h1>

<section id="roomContainer">
    
    <form action="/room" method="POST">
        <input name="room" type="text" required>
        <button type="submit">New room</button>
    </form>

    <div>
        {{#each rooms}}
            {{@key}}

            <a href='/{{@key}}'>{{@key}}</a>
        {{/each}}
    </div>
</section>