body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(150deg, 
        $secondaryThemeColor, 
        $dark-teal);
    font-family: $body-font-family;
    color: $bodyColor
}

h1 {
    &::after {
        content: '';
        display: block;
        width: 5%;
        height: 2px;
        background-color: $mainThemeColor;
    }
}

h1, h2, h3 {
    color: $headerColor;
}

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 40rem;
    margin: 25% auto 0;
}

.site-header {
    margin-bottom: 4rem;
    text-transform: uppercase;

    &::after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}