.btn {
    -webkit-appearance: none;
            appearance: none;

    padding: .5rem 1.5rem;
    font-family: $contrast-font-family;
    font-size: $body-font-size;
    border-radius: 5px 0 0 0;
    text-align: center;
    text-decoration: none;
    transition: .2s;
    transition-property: flex-grow, background-color, color;
    cursor: pointer;

    &:hover, &:focus {
    }
}

.-primary {
    @extend .btn;

    text-transform: uppercase;
}

.-secondary {
    @extend .btn;

    background-color: transparent;
    text-transform: uppercase;
}