.btn {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: transparent;
    color: $mainThemeColor;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.-primary {
    @extend .btn;

    position: relative;
    background: linear-gradient(
        150deg, 
        $secondaryThemeColor, 
        $dark-teal 60%);
    border: 1px solid $mainThemeColor;
    text-transform: uppercase;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(
            150deg, 
            $secondaryThemeColor, 
            $teal 50%);
        z-index: -1;
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
    }

    &:hover::before {
        opacity: 1;
    }
}

.-secondary {
    @extend .btn;

    background-color: transparent;
    text-transform: lowercase;
    text-decoration: none;

    &:focus, &:hover {
        color: white;
    }
}