@font-face {
    font-family: "Inconsolata";
    src: url("../fonts/Inconsolata/Inconsolata-Regular.ttf");
}

@font-face {
    font-family: "Inconsolata-bold";
    src: url("../fonts/Inconsolata/Inconsolata-Bold.ttf");
}

@font-face {
    font-family: "Avenir-Roman";
    src: url("../fonts/Avenir/AvenirLTStd-Roman.otf");
}

@font-face {
    font-family: "Avenir-Heavy";
    src: url("../fonts/Avenir/AvenirLTStd-Heavy.ttf");
}

$mainThemeColor: #00FFB1;
$secondaryThemeColor: #121522;
$grey: #707070;
$teal: #06584f;
$dark-teal: #0E3833;

$headerColor: $grey;
$bodyColor: #E5E5E5;

$header-font-size: 3.2rem;
$subheader-font-size: 1.5rem;
$body-font-size: 1rem;

$header-font-family: 'Avenir-Heavy', sans-serif;
$body-font-family: 'Avenir-Roman', sans-serif;
$contrast-font-family: 'Inconsolata-bold', monospace;